<% if @daycare.additionals.any? %>
  <ul id="additionalList" class="list-unstyled" data-update-url="<%= move_daycare_additionals_path(@daycare) %>">
    <% @additionals.each do |additional| %>
      <li class="panel panel-info" id="additional-<%= additional.id %>">
        <div class="panel-heading">
          <span id="panel-name-additional-<%= additional.id %>">
            <%= additional.title %>
          </span>
          <%= link_to edit_daycare_additional_path(@daycare, additional), id: "additional-edit-#{additional.id}", remote:true do %>
            <span><i class="glyphicon glyphicon-pencil pull-right" data-toggle="tooltip" data-placement="top" title="Edit"></i></span>
          <% end %>
          <%= link_to daycare_additional_path(@daycare, additional), method: 'delete', data: { confirm: "Are you sure you want do delete #{additional.title}?" }, id: "additional-delete-#{additional.id}", remote:true do %>
            <span><i class="glyphicon glyphicon-trash pull-right" data-toggle="tooltip" data-placement="top" title="Delete"></i></span>
          <% end %>
          <a><i class="glyphicon glyphicon-move pull-right" data-toggle="tooltip" data-placement="top" title="Drag panel title to rearrange sections"></i></a>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-top">
              <% if additional.image_file_name != nil %>
                <span id="image-additional-<%= additional.id %>">
                  <%= image_tag additional.image.url(:thumb) %>
                </span>
              <% end %>
            </div>
            <div class="media-body">
              <h4 id="header-name-additional-<%= additional.id %>">
                <%= additional.title %>
              </h4>
              <span id="content-additional-<%= additional.id %>">
                <%= simple_format h additional.content %>
              </span>
            </div>
          </div>
        </div>
      </li>
      <div id="edit-additional-<%= additional.id %>" class="daycare-edit-form-slide">
      </div>
    <% end %>
  </ul>
  <hr>
<% end %>
