<div class="container main-nav-content">
  <div class="row">
      <div class="align-center">
        <h2>Additional Information</h2>
        10 of 10
      </div>
      <ul class="list-group">
        <li class="list-group-item">
          <p>
            Is there anything else you want to add that we didn't cover? Do you want to include information on your philosophy? Do you have a great reading program? Tell parents about them. Be sure to include photos!
          </p>
          <p>
            Add as many sections as you want. When you're all done, click on the "Preview My Page" button below.
          </p>
          <br>

          <span id="additional-edit-list">
            <%= render 'additionals/additional_list' %>
          </span>

          <%= render "layouts/errors", :object => @additional %>

          <%= form_for [@daycare, @additional], :html => { :class => "form-horizontal", :multipart => true }, remote: true do |f| %>
            <div class="form-group">

              <%= f.label :title, class: 'control-label col-md-1' %>
              <div class="col-md-11 daycare-edit-field">
                <%= f.text_field :title, id: "additional-edit-name#{@additional.id}", class: 'form-control additional-edit-name', required: true, placeholder: "
                Enter the name of additional sections you want on your page (eg. Food, Discipline, Extra-Curricular Activities)" %>
              </div>

              <%= f.label :content, class: 'control-label col-md-1' %>
              <div class="col-md-11 daycare-edit-field">
                <%= f.text_area :content, id: "additional-edit-content#{@additional.id}", class: 'form-control', required: true, rows: "5", placeholder: "Enter additional information you want to include on your page" %>
              </div>

              <div class="col-md-12 daycare-edit-field">
                <span class="btn btn-info btn-file">
                  Select Image<%= f.file_field :image, class: "btn-block", id: "btn-select-image", onchange: '$("#additional-upload-file-info").html($(this).val());' %>
                </span>
                <span class='label label-default label-image-upload' id="additional-upload-file-info"></span>
              </div>

            <div class="col-sm-12 buttons-wizard">
              <%= f.submit "Submit", class:'btn btn-primary btn-submit' %>
              <%= link_to 'Preview My Page', user_daycare_path(current_user, current_user.daycare), class: 'btn btn-primary btn-edit' %>
              <%= link_to 'Back', wizard_teacher_user_daycare_path(current_user, current_user.daycare), class: 'btn btn-primary btn-edit' %>
            </div>
          </div>
          <% end %>
        </li>
      </ul>
      <%= link_to 'Back to Edit Page', edit_user_daycare_path(current_user, current_user.daycare) %>
  </div>
</div>
