<% if @daycare.programs.any? %>
  <ul id="programList" class="list-unstyled" data-update-url="<%= move_daycare_programs_path(@daycare) %>">
    <% @daycare.programs.each do |program| %>
      <li class="panel panel-info" id="program-<%= program.id %>">
        <div class="panel-heading">
          <span id="panel-name-program-<%= program.id %>">
            <%= program.name %>
          </span>
          <%= link_to edit_daycare_program_path(@daycare, program), id: "program-edit-#{program.id}", remote:true do %>
            <span><i class="glyphicon glyphicon-pencil pull-right"></i></span>
          <% end %>
          <%= link_to daycare_program_path(@daycare, program), method: 'delete', data: { confirm: "Are you sure you want do delete #{program.name}?" }, id: "program-delete-#{program.id}", remote:true do %>
            <span><i class="glyphicon glyphicon-trash pull-right"></i></span>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-top">
              <%= image_tag program.picture.url(:small) %>
            </div>
            <div class="media-body">
              <h4 id="header-name-program-<%= program.id %>"><%= program.name %></h4>
              <%= program.description %>
            </div>
          </div>
        </div>
      </li>
      <div id="edit-program-<%= program.id %>" class="daycare-edit-form-slide">
      </div>
    <% end %>
  </ul>
  <hr>
<% end %>
