<% if @daycare.programs.any? %>
  <div class="row daycare-profile-section">
    <div class="daycare-profile-section-content">
      <div class="daycare-profile-header">
        Programs
      </div>
      <div class="row">
        <% @programs.each_with_index do |program, index| %>
          <% if @programs.count == 1 %>
            <div class="col-md-12 col-md-8">
              <div class="daycare-profile-media">
                <%= image_tag program.picture.url(:medium) %>
              </div>
              <h3 class="media-content-header"><%= program.name %></h3>
              <p>
                <strong>Ages: </strong><%= program.age_from %> to <%= program.age_to %>
              </p>
              <p>
                <% if program.available == true %>
                  We have openings
                <% else %>
                  No openings
                <% end %>
              </p>
              <p>
                <%= simple_format h program.description %>
              </p>
            </div>
          <% else %>
            <% if index%2 == 0 %>
              <div class="row daycare-profile-section-row">
            <% end %>
            <div class="col-md-6">
              <div class="thumbnail daycare-profile-thumbnail">
                <div class="daycare-profile-thumbnail-img">
                  <%= image_tag program.picture.url(:medium) %>
                </div>
                <div class="caption">
                  <div class="daycare-profile-thumbnail-header">
                    <%= program.name %>
                  </div>
                  <p>
                    <strong>Ages: </strong><%= program.age_from %> to <%= program.age_to %>
                  </p>
                  <p>
                    <% if program.available == true %>
                      We have openings
                    <% else %>
                      No openings
                    <% end %>
                  </p>
                  <p>
                    <%= simple_format h program.description %>
                  </p>
                </div>
              </div>
            </div>
            <% if index%2 == 1 || index == @programs.count - 1 %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
