<% if @address.id != nil %>
  <p><%= @address.street %></p>
  <p><%= @address.city %> <%= @address.state %> <%= @address.zip %></p>
<% end %>
<% if @contact.id != nil %>
  <p><%= @contact.phone %></p>
<% end %>
