<% if @daycare.name == nil %>
  <p>
    To verify you are the owner of this daycare, Beebsy will contact you within 48 hours. Your page will not appear in search results until you have been verified as the owner.
  </p><br>
<% end %>

<%= render "layouts/errors", :object => @daycare %>

<%= form_for [current_user, @daycare], remote: true, :html => {:class => "form-horizontal"} do |f| %>
<div class="form-group">

  <%= f.label :name, class: 'control-label col-sm-1' %>
  <div class="col-sm-11 daycare-edit-field">
    <%= f.text_field :name, class: 'form-control', required: true %>
  </div>

  <%= f.label :url, 'URL', class: 'control-label col-sm-1' %>
  <div class="col-sm-11 daycare-edit-field">
    <div class="input-group">
      <span class="input-group-addon">www.beebsy.com/
      </span>
      <%= f.text_field :url, class: 'form-control', :placeholder => "Create a custom URL for your daycare", required: true %>
    </div>
  </div>

  <div class="pull-right col-sm-3">
    <%= f.submit "Submit", class:'btn btn-primary btn-block' %>
  </div>
</div>
<% end %>
