<% if @daycare.programs.any? %>
  <div id="daycare-profile-program">
    <div class="daycare-profile-header">
      <hr>
      <h1>Programs</h1>
    </div>

    <div id="program-wrapper class="row"">
      <% @programs.each_with_index do |program, index| %>
      <div class="col-md-6">
        <div class="media daycare-profile-program">
          <% if index % 2 == 0 %>
            <div class="media-left media-middle">
              <%= image_tag program.picture.url(:small) %>
            </div>
            <div class="media-body">
              <div class="col-md-12">
                <div class="col-md-9">
                  <h3><%= program.name %></h3>
                  <p>
                    <%= program.description %>
                  </p>
                </div>
                <div class="col-md-3 daycare-profile-age-col">
                  <h4>Ages</h4>
                  <p>
                    <%= program.age_from %> to <%= program.age_to %>
                  </p>
                  <% if program.available == true %>
                    We have openings
                  <% else %>
                    No openings
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="media-body">
              <div class="col-md-12">
                <div class="col-md-9">
                  <h3><%= program.name %></h3>
                  <p>
                    <%= program.description %>
                  </p>
                </div>
                <div class="col-md-3 daycare-profile-age-col">
                  <h4>Ages</h4>
                  <p>
                    <%= program.age_from %> to <%= program.age_to %>
                  </p>

                  <% if program.available == true %>
                    We have openings
                  <% else %>
                    No openings
                  <% end %>
                </div>
              </div>
            </div>
            <div class="media-right media-middle">
              <%= image_tag program.picture.url(:small) %>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
