<% if @daycare.teachers.any? %>
  <div id="daycare-profile-teacher">
    <div class="daycare-profile-header">
      <hr>
      <h1>Teachers</h1>
    </div>

    <div class="row">
      <% @teachers.each do |teacher| %>
      <% if @teachers.count == 1 %>
      <div class="col-md-10 col-md-offset-1">
        <div class="media daycare-profile-teacher">
          <div class="media-left">
            <%= image_tag teacher.picture.url(:medium) %>
          </div>
          <div class="media-body">
            <h3 class="media-content-header"><%= teacher.name %></h3>
            <p>
              <%= simple_format h teacher.about %>
            </p>
          </div>
        </div>
      </div>
      <% else %>
      <div class="col-md-6">
        <div class="media daycare-profile-teacher">
          <div class="media-left">
            <%= image_tag teacher.picture.url(:medium) %>
          </div>
          <div class="media-body">
            <h3><%= teacher.name %></h3>
            <p>
              <%= simple_format h teacher.about %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
<% end %>
