<div class="container main-nav-content">
  <div class="row">
    <div class="col-md-4">
      <h2>Edit Your Daycare</h2>
    </div>
    <div class="col-md-8 pull-right">
      <%= link_to 'Walk Me Through', wizard_name_user_daycare_path(current_user, current_user.daycare), class: 'btn btn-primary btn-edit' %>
    </div>
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <%= render 'name' %>
    <%= render 'addresses/edit_address' %>
    <%= render 'contacts/edit_contact' %>
    <%= render 'generals/edit_general' %>
    <%= render 'summaries/edit_summary' %>
    <%= render 'images/edit_image' %>
    <%= render 'programs/edit_program' %>
    <%= render 'teachers/edit_teacher' %>
    <%= render 'certifications/edit_certification' %>
    <%= render 'additionals/edit_additional' %>
  </div>
</div>
