<div class="container" id="daycare-edit-page">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <%= render 'name' %>
    <%= render 'addresses/address' %>
    <%= render 'contacts/contact' %>
    <%= render 'summaries/summary' %>
    <%= render 'images/image' %>
    <%= render 'programs/program' %>
    <%= render 'teachers/teacher' %>
  </div>
</div>
