<div class="container" id="daycare-edit-page">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <%= render 'name' %>
    <%= render 'addresses/address' %>
    <%= render 'contacts/contact' %>
    <%= render 'images/image' %>
    <div id="teacher-panel">      
      <%= render 'teachers/teacher' %>
    </div>
  </div>
</div>
