<div class="container" id="daycare-edit-page">
  <div class="align-center">
    <h2>Edit Your Daycare</h2>
  </div>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <%= render 'name' %>
    <%= render 'addresses/edit_address' %>
    <%= render 'contacts/edit_contact' %>
    <%= render 'generals/edit_general' %>
    <%= render 'summaries/edit_summary' %>
    <%= render 'images/edit_image' %>
    <%= render 'programs/edit_program' %>
    <%= render 'certifications/edit_certification' %>
    <%= render 'teachers/edit_teacher' %>
    <%= render 'additionals/edit_additional' %>
  </div>
</div>
