<div class="header-profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name"><%= @daycare.name %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'images' %>
  <%= render 'summary' %>
  <%= render 'programs' %>
  <%= render 'teachers' %>
  <%= render 'address' %>
  <%= render 'contact' %>
</div>
