<div class="header-profile">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
              <div class="intro-text">
                  <span class="name"><%= current_user.daycare.name %></span>
              </div>
          </div>
      </div>
  </div>
</div>
<div id="daycare-profile-contact">
  <h3>Address</h3>
  <p><%= @address.street %></p>
  <p><%= @address.city %> <%= @address.state %> <%= @address.zip %></p>
  <h3>Contact</h3>
  <p><%= @contact.phone %></p>
  <p><%= @contact.email %></p>
</div>
<div id="daycare-profile-image">
  <% @daycare.images.each do |image| %>
    <%= image_tag image.picture.url(:thumb) %>
  <% end %>
</div>
<div id="daycare-profile-teacher">
  <% @teachers.each do |teacher| %>
    <%= teacher.name %>
  <% end %>
</div>
