<div class="header-profile">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <!-- <img class="img-responsive" src="img/profile.png" alt=""> -->
              <div class="intro-text">
                  <span class="name"><%= current_user.daycare.name %></span>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <% @daycare.images.each_with_index do |image, index| %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= index + 1 %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for slides -->
    <% if @daycare.images.any? %>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag @daycare.images.first.picture.url(:large) %>
        </div>
        <% @daycare.images.each do |image| %>
          <div class="item">
            <%= image_tag image.picture.url(:large) %>
            <div class="carousel-caption">
              <h3><%= image.description %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div id="daycare-profile-contact">
    <h3>Address</h3>
    <p><%= @address.street %></p>
    <p><%= @address.city %> <%= @address.state %> <%= @address.zip %></p>
    <h3>Contact</h3>
    <p><%= @contact.phone %></p>
    <p><%= @contact.email %></p>
  </div>

  <% if @daycare.teachers.any? %>
    <hr>
    <div class="daycare-profile-header">
      <h1>Teachers</h1>
    </div>

    <div id="wrapper">
      <% @teachers.each do |teacher| %>
        <div class="col-md-6">
          <div class="media daycare-profile-teacher">
            <div class="media-left">
              <%= image_tag teacher.picture.url(:thumb) %>
            </div>
            <div class="media-body">
              <h4><%= teacher.name %></h4>
              <p>
                <%= teacher.about %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
