<div id="search-page">
<div class="jumbotron search-header">
  <div class="search-input search-text">Find a daycare near you</div>
  <div class="row">
    <%= form_tag(search_results_path, :method => "get", id: "search-form", class: "search-input") do %>
      <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span id="radius-select">5 miles</span>
            <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="setRadius('5 miles', 5)">5 miles</a></li>
              <li><a href="#" onclick="setRadius('10 miles', 10)">10 miles</a></li>
              <li><a href="#" onclick="setRadius('20 miles', 20)">20 miles</a></li>
              <li><a href="#" onclick="setRadius('30 miles', 30)">30 miles</a></li>
            </ul>
          </span>
          <span class="input-group-addon" id="sizing-addon1">from</span>
          <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Enter address or zip code", id: "search-text-field" %>
          <%= hidden_field_tag 'radius-value', 5 %>
          <span class="input-group-btn">
            <button class="btn btn-success btn-lg" type="submit">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-md-8 -->
    <% end %>
  </div>
</div>


<div class="container">
  <div class="row home-info">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail home-info-section">
        <img src="<%= asset_path('parents.png') %>" alt="parents">
        <div class="caption home-section-info">
          <h3>Parents</h3>
          <p>Finding care for your child can be extremely stressful. We make it easier by providing a dedicated place where you can find a daycare and get the information relevant to you.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail home-info-section">
        <img src="<%= asset_path('daycares.png') %>" alt="daycares">
        <div class="caption">
          <h3>Daycares</h3>
          <p>Connecting with families is as easy as creating a profile. You can create a free "website" without the hassle.
          <%= link_to "Sign up ", new_user_registration_path %>
          now and be part of a network where parents can reach out to you.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail home-info-section">
        <img src="<%= asset_path('feedback.png') %>" alt="...">
        <div class="caption">
          <h3>Feedback</h3>
          <p>Our goal is to make this service as helpful as possible. If there is anything that can make it better for you, please let us know. Your feedback is extremely important.</p>
          <p><a href="#">Send us your feedback</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="home-infographic">
    <img src="<%= asset_path('how-it-works.png') %>" alt="...">
  </div> -->
</div>
</div>

<div id="search-results">

</div>
  <script  src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing,places&callback=autoComplete"></script>
