
<section class="featured">
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
			<div class="align-center">
				<h2 class="slogan">Welcome to beebsy</h2>
				<i class="fa fa-connectdevelop fa-5x mar-bot20"></i>
				<p>
				Our goal is to connect families with daycares and make it easy to find quality childcare.
				</p>
			</div>
		</div>
	</div>
</section>

		<!-- services -->
<section id="section-services" class="section pad-bot30 bg-white">
	<div class="container">
		<div class="row mar-bot40">
			<div class="col-md-4" >
				<div class="align-center">
					<img src="<%= asset_path('parents.png') %>" alt="parents">
					<h4 class="text-bold">Parents</h4>
					<p>
						Finding care for your child can be extremely stressful. We make it easier by providing a dedicated place where you can find a daycare and get the information relevant to you.
					</p>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="align-center">
					<img src="<%= asset_path('daycares.png') %>" alt="daycares">
					<h4 class="text-bold">Daycares</h4>
					<p>Connecting with families is as easy as creating a profile. You can create a free website without the hassle.
          <%= link_to "Sign up ", new_user_registration_path %>
          now and be part of a network where parents can reach out to you.
					</p>
				</div>
			</div>
			<div class="col-md-4" >
				<div class="align-center">
					<img src="<%= asset_path('feedback.png') %>" alt="...">
					<h4 class="text-bold">Feedback</h4>
					<p>
						Our goal is to make this service as helpful as possible. If there is anything that can make it better for you, please let us know. Your feedback is extremely important.
					</p>
          <p><a href="#section-contact">Send us your feedback</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<a href="/yourdaycare">
	<section class="module parallax parallax-2">
		<div class="container">
			<div class="align-center pad-top40 pad-bot40">
				<blockquote class="bigquote color-white">Daycares</blockquote>
				<blockquote class="bigquote color-white">Click here to see what your page could look like</blockquote>
			</div>
		</div>
	</section>
</a>

<script type="text/javascript">
	$('.parallax').parallax({
	speed : 0.3
	});
</script>
	<script src="<%= asset_path('js/modernizr-2.6.2-respond-1.1.0.min.js') %>"></script>

	<script src="<%= asset_path('js/jquery.easing.1.3.js') %>"></script>
	<script src="<%= asset_path('js/jquery.isotope.min.js') %>"></script>
	<script src="<%= asset_path('js/jquery.nicescroll.min.js') %>"></script>
	<script src="<%= asset_path('js/fancybox/jquery.fancybox.pack.js') %>"></script>
	<script src="<%= asset_path('js/skrollr.min.js') %>"></script>
	<script src="<%= asset_path('js/jquery.scrollTo-1.4.3.1-min.js') %>"></script>
	<script src="<%= asset_path('js/jquery.localscroll-1.2.7-min.js') %>"></script>
	<script src="<%= asset_path('js/stellar.js') %>"></script>
	<script src="<%= asset_path('js/jquery.appear.js') %>"></script>

	<script src="<%= asset_path('js/main.js') %>"></script>
