<%= render "layouts/errors", :object => @contact %>

<%= form_for [@daycare, @contact], remote: true, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :email, class: 'control-label col-sm-1' %>
    <div class="col-sm-5 daycare-edit-field">
      <%= f.text_field :email, class: 'form-control', required: true %>
    </div>

    <%= f.label :phone, class: 'control-label col-sm-1' %>
    <div class="col-sm-5 daycare-edit-field">
      <%= f.text_field :phone, class: 'form-control', required: true %>
    </div>

    <div class="pull-right col-sm-3">
      <%= f.submit class:'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
