
<%= form_for [@daycare, @certification], :html => { :class => "form-horizontal", :multipart => true }, remote: true do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-md-1' %>
    <div class="col-md-5 daycare-edit-field">
      <%= f.text_field :name, id: "certification-edit-name#{@certification.id}", class: 'form-control certification-edit-name', required: true, placeholder: "" %>
    </div>

    <%= f.label :link, class: 'control-label col-md-1' %>
    <div class="col-md-5 daycare-edit-field">
      <%= f.text_field :link, id: "certification-edit-link#{@certification.id}", class: 'form-control certification-edit-link', placeholder: "add a link to your certification" %>
    </div>

    <%= f.label :description, class: 'control-label col-md-1' %>
    <div class="col-md-11 daycare-edit-field">
      <%= f.text_area :description, class: 'form-control', rows: "5", id: "certification-edit-desc#{@certification.id}" %>
    </div>

    <div class="col-md-12 daycare-edit-field">
      <span class="btn btn-default btn-file">
        Select Image<%= f.file_field :image, class: "btn-block", id: "btn-select-image", onchange: '$("#certification-upload-file-info").html($(this).val());' %>
      </span>
      <span class='label label-default label-image-upload' id="certification-upload-file-info"></span>
    </div>

    <div class="pull-right col-md-3">
      <%= f.submit "Submit", class:'btn btn-primary btn-block' %>
    </div>

  <% if @certification.name != nil %>
      <div class="pull-right col-md-3">
        <button class="btn btn-primary btn-block pull-right" onclick="hideTeacherForm('<%= @certification.id %>')" id="cancel-certification-edit">Cancel</button>
      </div>
  <% end %>
  </div>
<% end %>
