
<%= form_for [@daycare, @teacher], remote: true, :html => { :class => "form-horizontal", :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label col-sm-1' %>
    <div class="col-sm-5 daycare-edit-field">
      <%= f.text_field :name, class: 'form-control', required: true %>
    </div>

    <%= f.label :about, class: 'control-label col-sm-1' %>
    <div class="col-sm-5 daycare-edit-field">
      <%= f.text_area :about, class: 'form-control', required: true %>
    </div>

    <div class="col-sm-12">
      <%= f.file_field :picture %>
    </div>

    <div class="pull-right col-sm-3">
      <%= f.submit class:'btn' %>
    </div>

  <% if @teacher.name != nil %>
      <div class="pull-right col-sm-3">
        <button class="btn pull-right" onclick="hideTeacherForm('<%= @teacher.id %>')" id="cancel-teacher-edit">Cancel</button>
      </div>
  <% end %>
  </div>
<% end %>
