<% if @daycare.teachers.any? %>
  <section id="section-teachers" class="section appear clearfix">
    <div class="container">
      <div class="row align-center mar-bot40">
        <div class="row mar-bot40">
          <div class="col-md-offset-3 col-md-6">
            <div class="section-header">
              <h2 class="section-heading animated" data-animation="bounceInUp">Teachers</h2>
              <p></p>
            </div>
          </div>
        </div>
        <% if @teachers.length == 1 %>
          <div class="row">
            <% @teachers.each do |teacher| %>
                <div class="col-md-4">
                  <div class="landscape img-teacher">
                    <% if teacher.picture_file_name != nil %>
                      <div class="circle-avatar" style="background-image:url(<%= teacher.picture.url %>)">
                      </div>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="landscape team-detail">
                    <h4><%= teacher.name %></h4>
                    <span><%= teacher.title %></span>
                    <p>
                      <%= simple_format h teacher.about %>
                    </p>
                  </div>
                </div>
            <% end %>
          </div>
        <% else %>
          <% @teachers.each_with_index do |teacher, index| %>
            <% if index%3 == 0 %>
              <div class="row">
            <% end %>
            <div class="col-md-4">
              <div class="team-member img-teacher">
                <div class="img-teacher">
                  <% if teacher.picture_file_name != nil %>
                    <div class="circle-avatar" style="background-image:url(<%= teacher.picture.url %>)">
                    </div>
                  <% end %>
                </div>
                <div class="team-detail">
                  <h4><%= teacher.name %></h4>
                  <span><%= teacher.title %></span>
                  <p>
                    <%= simple_format h teacher.about %>
                  </p>
                </div>
              </div>
            </div>
            <% if index%3 == 2 %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
<% end %>
