<% if @daycare.teachers.any? %>
  <ul id="teacherList" class="list-unstyled" data-update-url="<%= move_daycare_teachers_path(@daycare) %>">
    <% @daycare.teachers.each do |teacher| %>
      <li class="panel panel-info" id="teacher-<%= teacher.id %>">
        <div class="panel-heading">
          <%= teacher.name %>
          <%= link_to edit_daycare_teacher_path(@daycare, teacher), remote:true do %>
            <span><i class="glyphicon glyphicon-pencil pull-right"></i></span>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-top">
             <%= image_tag teacher.picture.url(:thumb) %>
            </div>
            <div class="media-body">
              <h4><%= teacher.name %></h4>
              <%= teacher.about %>
            </div>
          </div>
        </div>
      </li>
      <div id="edit-teacher-<%= teacher.id %>">

      </div>
    <% end %>
  </ul>
<% end %>

<%= render 'teachers/form' %>
