$('#edit-teacher-<%= @teacher.id %>').html("<%= j render 'form' %>");
$('#edit-teacher-<%= @teacher.id %>').prepend("<br><h4>Edit Teacher</h4><br>");
$('#edit-teacher-<%= @teacher.id %>').hide();
$('#edit-teacher-<%= @teacher.id %>').slideDown(350);
