<%= render "layouts/errors", :object => @address %>

<%= form_for [@daycare, @address], remote: true, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group">
    <%= f.label :street, class: 'control-label col-sm-1' %>
    <div class="col-sm-11 daycare-edit-field">
      <%= f.text_field :street, class: 'form-control', required: true %>
    </div>

    <%= f.label :city, class: 'control-label col-sm-1' %>
    <div class="col-sm-4 daycare-edit-field">
      <%= f.text_field :city, class: 'form-control', required: true %>
    </div>

    <%= f.label :state, class: 'control-label col-sm-1' %>
    <div class="col-sm-2 daycare-edit-field">
      <%= f.select :state,
        ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "DC", "FL",
         "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY", "LA", "ME",
         "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH",
         "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "PR",
         "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV",
         "WI", "WY"],
        { :style =>  "min-width: 5em;"}, class: 'form-control' %>
    </div>

    <%= f.label :zip, class: 'control-label col-sm-1' %>
    <div class="col-sm-3 daycare-edit-field">
      <%= f.text_field :zip, class: 'form-control', required: true %>
    </div>

    <div class="pull-right col-sm-3">
      <%= f.submit "Submit", class:'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>
