<%= render "layouts/errors", :object => @feedback_form %>

<%= simple_form_for [@feedback_form], :html => {:class => 'form-horizontal contactForm' }, remote: true do |f| %>

  <%= f.input :name, :required => true, id: 'feedback_form_name', label: "Your Name" %>
  <%= f.input :email, :required => true, id: 'feedback_form_email', label: "Your Email" %>
  <%= f.input :message, :as => :text, :required => true, id: 'feedback_form_message', class: 'form-control', :input_html => {rows: 5} %>
  <div class= "hidden">
    <%= f.input :nickname, :hint => 'Leave this field blank!' %>
  </div>
  <div>
    </br>
    <%= f.button :submit, 'SEND MESSAGE', :class=> "btn btn-theme pull-left" %>
  </div>
<% end %>
