<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Edit Image</h4>
    </div>
    <div class="modal-body">
      <div class="media">
        <div class="media-left media-top">
          <span id="daycare-image-<%= image.id %>">
            <%= image_tag image.picture.url(:thumb) %>
          </span>
        </div>
        <div class="media-body">
          <h4>Description</h4>
          <span id="daycare-image-description-<%= image.id %>">
            <%= image.description %>
          </span>
        </div>
      </div>
      <%= render "images/form" %>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div> -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
