<%= form_for [@daycare, @image], remote: true, :html => {:class => "form-horizontal", :multipart => true, id: "image-form#{@image.id}" } do |f| %>
  <div class="row">

  <div class="col-sm-12 daycare-edit-field">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', id: "image-edit-desc#{@image.id}" %>
  </div>
  </div>

  <div class="col-md-12 daycare-edit-field">
    <span class="btn btn-default btn-file">
      Select Image<%= f.file_field :picture, class: "btn-block", id: "btn-select-image", onchange: "$('#image-upload-file-info').html($(this).val());" %>
    </span>
    <span class='label label-default label-image-upload' id="image-upload-file-info"></span>
  </div>

  <div class="pull-right col-md-3">
    <%= f.submit class:'btn btn-primary btn-block image-submit' %>
  </div>


<% end %>
