<%= form_for [@daycare, @image], :html => {:class => "form-horizontal", :multipart => true, id: "image-form" }, remote: true do |f| %>
  <div class="form-group">

    <div class="col-sm-2 ">
      <%= f.label :description, class: 'control-label' %>
    </div>
    <div class="col-sm-10 daycare-edit-field">
      <%= f.text_field :description, class: 'form-control', id: "image-edit-desc#{@image.id}" %>
    </div>

    <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
    <div class="col-sm-12 daycare-edit-field">
      <span class="btn btn-primary btn-file">
        Select Image<%= f.file_field :picture, onchange: "$('#image-form').submit();", class: "btn-block", id: "btn-select-image" %>
      </span>
    </div>
    <!-- <div class="pull-right col-sm-3">
      <%= f.submit "Add Image", class: 'btn btn-primary btn-block' %>
    </div> -->
  </div>
<% end %>
