<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>beebsy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Delius+Unicase:700|Gorditas:700' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <%= render partial: "partials/google_analytics" %>
  <%= render partial: "partials/google_maps" %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <%= yield %>
  <%= render partial: "partials/google_analytics_pageview" %>
</body>
</html>
